<div class="search-bar" *ngIf="!compactMode">
  <div class="input-container">
    <div contenteditable="true" class="text-editor" data-placeholder="Ask a question or enter the topic you’d like to research..."
      (input)="inputChanged($event)" #searchInput>

    </div>

    <div class="mention-container" *ngIf="showMentions" [style.top.px]="mentionTop" [style.left.px]="mentionLeft">
      <div class="mention-item" *ngFor="let mention of mentions" (click)="selectMention(mention.title)">
        <span class="mention-title"> {{ mention.title }}</span>
        <span class="mention-description">{{ mention.description }}</span>
      </div>
    </div>

  </div>
  <div class="button-groups">
    <div class="left-buttons">
      <app-toggle [options]="toggleOptions" (selectedOptionChanged)="toggleOptionSelected($event)"></app-toggle>
      <app-button [label]="'New york'" [icon]="'location-dot'" [color]="'blue'" [includeDropdown]="true"></app-button>
    </div>
    <div class="right-buttons">
      <app-button [expanded]="false" [icon]="'paperclip'" [color]="'blue'" (click)="clickHandler()"></app-button>
      <app-button [expanded]="false" [icon]="'book-sparkles'" [color]="'blue'"
        (click)="clickTaskLibrary()"></app-button>
      <app-button [expanded]="false" [icon]="'at'" [color]="'blue'" (click)="openTagDialog()"></app-button>
      <app-button [expanded]="false" [icon]="'arrow-up'" [backgroundColor]="'blue'" [color]="'white'"
        [disabled]="!inputContent || inputContent.length <= 1" (click)="redirectToResearch()"></app-button>
    </div>
  </div>
  <div class="search-suggestions" *ngIf="showSearchSuggestions">
    <div class="suggestion-item" *ngFor="let suggestion of searchSuggestions">
      <div class="suggestion-content">
        <span class="suggestion-title">{{ suggestion.title }}</span>
        <span class="suggestion-description">{{ suggestion.description }}</span>
      </div>
      <div class="suggestion-icon">
        <saf-icon icon-name="arrow-up-right" size="16px"></saf-icon>
      </div>
    </div>
  </div>

  <div class="response-time-menu" *ngIf="showResponseTimeMenu" #responseTimeMenu>
    <app-response-time-menu></app-response-time-menu>
  </div>

  <saf-dialog class="" #attachmentDialog class="attachment-dialog" id="button-dialog-overlay" modal="false"
    is-alert="false" is-header="true" is-footer="true" no-focus-trap="false" dialog-title="Attach files"
    [hidden]="!openAttachmentDialog" (hide)="closeDialog()" triggerId="button-dialog-trigger">
    <div class="dialog-info">
      <saf-icon class="shield-icon" [appearance]="'solid'" icon-name="shield-check" size="16px"></saf-icon>
      <span>
        The security and privacy of your data is important to us. We employ multiple layers of security to keep it safe.
      </span>
      <saf-icon class="info-icon" icon-name="circle-info" size="16px"></saf-icon>
    </div>
    <div class="dialog-content">
      <div class="drop-area">
        <span class="drop-area-text">Select or drag files into this space.</span>
        <app-button [label]="'Select'" [addBorder]="true"></app-button>
      </div>
    </div>

    <div slot="footer" style="display: flex; gap: 12px; justify-content: flex-end; width: 100%">
      <app-button [label]="'Cancel'" [addBorder]="true" (click)="closeDialog()"></app-button>
      <app-button [label]="'Attach files'" [backgroundColor]="'blue'" [color]="'white'"></app-button>
    </div>
  </saf-dialog>

  <!-- Task Library Dialog -->
  <saf-dialog class="" #taskLibraryDialog class="task-library-dialog" id="button-dialog-overlay" modal="false"
    is-alert="false" is-header="true" is-footer="true" no-focus-trap="false" dialog-title="Task Library"
    [hidden]="!openTaskLibraryDialog" (hide)="closeDialog()" triggerId="button-dialog-trigger">

    <div class="dialog content">

      <div class="search-section">
        <saf-search-field density="inherit" a11y-aria-description="search workflows and prompts"
          placeholder="Search Workflows and prompts">
        </saf-search-field>
      </div>

      <div class="filters-wrapper">

        <div class="filter-sidebar">
          <div class="filter-section">
            <saf-text appearance="heading-md" density="inherit">Type</saf-text>
            <saf-checkbox>Workflows</saf-checkbox>
            <saf-checkbox>Prompts</saf-checkbox>
          </div>

          <div class="filter-section">
            <saf-text appearance="heading-md" density="inherit">Category</saf-text>
            <saf-checkbox>Research</saf-checkbox>
            <saf-checkbox>Review</saf-checkbox>
            <saf-checkbox>Draft</saf-checkbox>
          </div>

          <div class="filter-section">
            <saf-text appearance="heading-md" density="inherit">Tag</saf-text>
            <saf-checkbox>Litigation</saf-checkbox>
            <saf-checkbox>Transnational</saf-checkbox>
          </div>

          <div class="filter-section">
            <saf-text appearance="heading-md" density="inherit">Access</saf-text>
            <saf-checkbox>Favorites</saf-checkbox>
            <saf-checkbox>Private</saf-checkbox>
            <saf-checkbox>Created by CoCounsel</saf-checkbox>
            <saf-checkbox>Shared with app</saf-checkbox>
          </div>

          <div class="bottom-toolbar">
            <saf-anchor href="#"><saf-icon appearance="light" icon-name="cog"></saf-icon>
              Manage Library</saf-anchor>
          </div>
        </div>

        <div class="results-panel">
          <div class="results-title">
            <saf-text appearance="heading-md" density="inherit" class="card-title">Showing 42 results</saf-text>
            <app-button [label]="'Sort by recent'" [icon]="'arrow-up-arrow-down'" [addBorder]="true"
              [backgroundColor]="'white'" [color]="'blue'"></app-button>
          </div>
          <div class="results-cards">
            <div class="result-card">
              <saf-text appearance="heading-md" density="inherit" class="card-title">Legal Document Analysis</saf-text>
              <p class="class-paragraph">Identify potential issues with a document’s cited authority and quotations.</p>
              <div class="workflow-footer">
                <saf-text density="inherit">Workflow</saf-text>
                <saf-text density="inherit" class="steps-counter">• 4 steps</saf-text>
              </div>
            </div>

            <div class="result-card">
              <saf-text appearance="heading-md" density="inherit" class="card-title">Jurisdictional Survey <saf-icon
                  appearance="light" icon-name="user-group"></saf-icon></saf-text>
              <p class="class-paragraph">Research and summarize relevant laws and regulations across multiple
                jurisdictions.</p>
              <div class="workflow-footer">
                <saf-text density="inherit">Workflow</saf-text>
                <saf-text density="inherit" class="steps-counter">• 4 steps</saf-text>
              </div>
            </div>

            <div class="result-card">
              <saf-text appearance="heading-md" density="inherit" class="card-title">Find Claims</saf-text>
              <p class="class-paragraph">Identify and analyze potential legal claims based on provided facts and
                documents.</p>

              <div class="workflow-footer">
                <saf-text density="inherit">Workflow </saf-text>
                <saf-text density="inherit" class="steps-counter">• 4 steps</saf-text>
              </div>

            </div>

            <div class="result-card">
              <saf-text appearance="heading-md" density="inherit" class="card-title">Draft Demand Letter</saf-text>
              <p class="class-paragraph">Prepare a claim with supporting facts and desired resolution.</p>
              <div class="workflow-footer">
                <saf-text density="inherit">Workflow </saf-text>
                <saf-text density="inherit" class="steps-counter">• 4 steps</saf-text>
              </div>
            </div>

            <div class="result-card">
              <saf-text appearance="heading-md" density="inherit" class="card-title">Draft Complaint</saf-text>
              <p class="class-paragraph">Create complaint sections based on parties involved, jurisdiction, case type,
                and reference documents on facts.</p>
              <div class="workflow-footer">
                <saf-text density="inherit">Workflow </saf-text>
                <saf-text density="inherit" class="steps-counter">• 4 steps</saf-text>
              </div>
            </div>

            <div class="result-card">
              <saf-text appearance="heading-md" density="inherit" class="card-title">Timeline</saf-text>
              <p class="class-paragraph">Create a detailed timeline of events from case documents and evidence.</p>
              <div class="workflow-footer">
                <saf-text density="inherit">Workflow </saf-text>
                <saf-text density="inherit" class="steps-counter">• 4 steps</saf-text>
              </div>
            </div>



          </div>

        </div>

      </div>






    </div>


  </saf-dialog>
</div>
<div class="search-bar" *ngIf="compactMode">
  <div class="input-container-compact">
    <div class="compact-input" contenteditable="true"
      data-placeholder="Ask a question or enter the topic you’d like to research..." (input)="inputChanged($event)">

    </div>
    <div class="right-buttons-compact">
      <app-button [expanded]="false" [icon]="'paperclip'" [color]="'blue'" (click)="clickHandler()"></app-button>
      <app-button [expanded]="false" [icon]="'book-sparkles'" [color]="'blue'"
        (click)="clickTaskLibrary()"></app-button>
      <app-button [expanded]="false" [icon]="'at'" [color]="'blue'"></app-button>
      <app-button [expanded]="false" [icon]="'arrow-up'" [backgroundColor]="'blue'" [color]="'white'"
        [disabled]="!inputContent || inputContent.length <= 1" (click)="redirectToResearch()"></app-button>
    </div>
  </div>
</div>