<!-- response-time-menu.component.html -->
<div class="response-time-menu">
    <div class="keyword-search-button-wrapper">
      <div class="item" (click)="toggleKeywordSearchType()">
        <div class="left">
          <saf-icon slot="end" color="#054688" icon-name="magnifying-glass" appearance="light" presentation></saf-icon>
        </div>
        <div class="left">
          <div class="item-name">Keyword Search</div>
          <div class="description">Search by key terms or Boolean search strings</div>
        </div>
        <div class="right">
          <saf-icon slot="end" color="#054688" icon-name="check" appearance="solid" presentation></saf-icon>
        </div>
      </div>
    </div>
    <div class="outside-links-wrapper">
      <div class="item">
        <div class="left">
          <div class="item-name">Advanced Search</div>
          <div class="description">Add alternative terms to your search</div>
        </div>
        <div class="right">
          <saf-icon slot="end" icon-name="arrow-up-right-from-square" appearance="light" presentation></saf-icon>
        </div>
      </div>
      <div class="item">
        <div class="left">
          <div class="item-name" href="#">Precision Research</div>
          <div class="description">Find cases by classification and tags</div>
        </div>
        <div class="right">
          <saf-icon slot="end" icon-name="arrow-up-right-from-square" appearance="light" presentation></saf-icon>
        </div>
      </div>
      <div class="item">
        <div class="left">
          <div class="item-name" href="#">Parallel Search</div>
          <div class="description">Find conceptually similar sentences to
            your query across cases</div>
        </div>
        <div class="right">
          <saf-icon slot="end" icon-name="arrow-up-right-from-square" appearance="light" presentation></saf-icon>
        </div>
      </div>
    </div>
</div>
