.response-time-menu {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 308px;
  padding: 4px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 12px 4px #1F1F1F1A;
}

.keyword-search-button-wrapper {
  border-bottom: 1px solid #D2D2D2;

  .item {
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    &:hover {
      background-color: #edf6ff;
      outline: 2px solid var(--saf-color-interactive-secondary-active);
    }
  }

  .item-name {
    color: var(--color-data-viz-sky-600, #054688);

    /* type/body/default/md/strong/standard */
    font-family: "Source Sans 3";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  .description {
    color: var(--color-text-subtle, #666);

    /* type/body/default/sm/regular/compact */
    font-family: "Source Sans 3";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.item {
  display: flex;
  padding: 8px 0;
  .left {
    margin-right: 8px;
  }

  .right {
    margin-left: auto;
  }
}

.outside-links-wrapper {
  padding: 0 12px;

  .item-name {
    color: var(--color-interactive-on-tertiary-default, #212223);

    /* type/body/default/md/regular/standard */
    font-family: "Source Sans 3";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  .description {
    color: var(--color-text-subtle, #666);

    /* type/body/default/sm/regular/compact */
    font-family: "Source Sans 3";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}
