<div class="main-content">
    <div class="flexRowSpaceBetweenHeader">
        <div class="title">
            My Quick Links
        </div>
        <button class="editFlex">
            <saf-icon icon-name="edit" size="16px"></saf-icon>
            <div class="modifyIconText">
                Modify
            </div>
        </button>
    </div>
    <div class="btnsContainer">
        <div class="btnsRow">
            <button class="btnLink">
                <saf-icon icon-name="clipboard" size="16px" class="safIcon"></saf-icon>
                <div class="btnText">
                    Claims Explorer
                </div>
            </button>
            <button class="btnLink">
                <saf-icon icon-name="copy" size="16px" class="safIcon"></saf-icon>
                <div class="btnText">
                    Compare Text
                </div>
            </button>
            <button class="btnLink">
                <saf-icon icon-name="square-list" size="16px" class="safIcon"></saf-icon>
                <div class="btnText">
                    Keep List
                </div>
            </button>
        </div>
        <div class="btnsRow">
            <button class="btnLink">
                <saf-icon icon-name="chart-waterfall" size="16px" class="safIcon"></saf-icon>
                <div class="btnText">
                    Litigation Analytics
                </div>
            </button>
            <button class="btnLink">
                <saf-icon icon-name="flag" size="16px" class="safIcon"></saf-icon>
                <div class="btnText">
                    Next Gen KeyCite
                </div>
            </button>
            <button class="btnLink">
                <saf-icon icon-name="books" size="16px" class="safIcon"></saf-icon>
                <div class="btnText">
                    Practical Law
                </div>
            </button>
        </div>
    </div>
</div>